$text-dark: #252d51;
$text-medium: #9191a3;
$text-light: #dddedf; 
$button-text: #ddd;
$button-border:rgba(236, 239, 241, 0.07);
$border: #34394d;
$border-light: #dedede;
$text-selection: #fff;
$background-light:#f9f9f9;
$background-dark: #2d2c45;
$super_dark:#1f1f30;
$background-medium:#5366df;
$selection: #f57d42;
$hover: #fecfd1;
$contact-submit: #df5612;
$black: #000;