$text-dark: #dddedf ;
$text-medium: #80809f;
$text-light: #252d51; 
$button-text: #fff;
$button-border:rgba(236, 239, 241, 0.07);
$border: #34394d;
$border-light: #dedede;
$text-selection: #1f1f30;
$background-light:#2d2c45 ;
$background-dark: #f9f9f9;
$super_dark:#fff;
$background-medium:#5366df;
$selection: #f57d42;
$hover: #fecfd1;
$contact-submit: #df5612;
$black: #fff;